<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GeographyServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.GeographyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GeographyUserServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.GeographyUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoldBeanServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.GoldBeanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TreeCaveServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.TreeCaveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserFriendsServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.UserFriendsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JpushServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.JpushServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.ihelp.servlet.UploadServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeographyServlet</servlet-name>
    <url-pattern>/servlet/GeographyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeographyUserServlet</servlet-name>
    <url-pattern>/servlet/GeographyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoldBeanServlet</servlet-name>
    <url-pattern>/servlet/GoldBeanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TreeCaveServlet</servlet-name>
    <url-pattern>/servlet/TreeCaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserFriendsServlet</servlet-name>
    <url-pattern>/servlet/UserFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JpushServlet</servlet-name>
    <url-pattern>/servlet/JpushServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/servlet/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>